/*------------------------------------*\
    $GLOBAL DEFAULTS
\*------------------------------------*/

html {
    height: 100%;
    max-height: 100%;
}

body {
    background: #E0F3FA;
    color: #3A4145;
    height: 100%;
    max-height: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    margin: 3.2em 0;
    padding: 0;
}

// Hide stuff
.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}


// Centers vertically (IE8+)
.vertical {
    display: table-cell;
    vertical-align: middle;
}